.question_wrapper {
    display: flex;
    justify-content: center;
}

.question {
    color: lime;
}

.yes_or_no {
    display:flex;
    justify-content: space-around;
}

.button_0 {
    display: flex;
}

.button_1 {
    display: flex;
}

.text {
    color: lime;
}

.detect_rang_1:hover > .detect_rang_2 {
    transform: translate(0px, 150px);
}

.detect_rang_2:hover > .button_1 {
    transform: translate(0px, 0px);
}

