.question_wrapper {
    display: flex;
    justify-content: center;
}

.question {
    color: lime;
}

.yes_or_no {
    display:flex;
    justify-content: space-around;
}

.button_0 {
    display: flex;
}

.button_1 {
    display: flex;
    /* transform: translate(0px, 15px); */
}

.text {
    color: lime;
}

.button {
    width: 20px;
}

.detect:hover > .button_1 {
    transform: translate(0px, 100px);
}
