.wrapper {
    display: flex;
}

.container {
    height: 50px;
    width: 90%;
    margin: auto;

    border-radius: 10px;
    border:  3px solid rgb(9, 9, 9);

    display: flex;

    background-color: rgb(31, 31, 31);
}


.otstup {
    height: auto;
    width: calc(100% - 16px);
    margin: 8px;
}

.block {
    height: 34px;
    width: 100px;
    margin-left: calc(100% - 100px);


    border-radius: 6px;


    background-color: darkgreen;
    position: relative;


    animation-name: palzunok;
    animation-duration: 4s;
    animation-timing-function: ease-in-out;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}


.t2 {
    text-align: center;
    color: darkred;
}