.wrapper {
    display: flex;
}

.cont {
    height: 50px;
    width: 1200px;
    margin: auto;

    border-radius: 10px;
    border:  3px solid rgb(9, 9, 9);

    display: flex;

    background-color: rgb(31, 31, 31);
}

.block {
    height: 34px;
    width: 100px;
    margin-top: auto;
    margin-bottom: auto;
    margin-left: 1092px;

    border-radius: 6px;

    background-color: darkgreen;



    animation-name: palzunok;
    animation-duration: 4s;
    animation-timing-function: ease-in-out;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}